include *.txt
include *.md
include *.cfg
include *.pkl
recursive-include ./bfsp_scraper/*
include ./requirements.txt
exclude *.log
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude ./bfsp_scraper/tmp/*
